@import "commonStyle.css";

@media only screen and (min-width: 1080px) {
   .chartContent {
        width: 50%; 
        float: left;
        height: calc(70vw/2);
        padding: 0 0 50px 0;
    }
}

@media only screen and (min-width: 1440px) {
   .chartContent {
        width: 25%; 
        float: left;
        height: calc(70vw/4);
        padding: 0 0 50px 0;
    }
}
