.hidden-button {
    opacity: 0;
    background-color: #ffd480;
}

.hidden-button:hover {
    opacity: 35;
    transition: all 0.3s ease-in;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    text-align: center;
    background-color: #f2f2f2;
    color: #999999;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.card-label {
    font-size: 2.9em;
    font-weight: bold;
}

.card-big-num {
    font-size: 5em;
}

/* Remove extra left and right margins, due to padding */
.card-container {
    padding: 0 0 50px 0;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 80%;
    justify-content: center;
}

.chartContent {
    width: 100% !important;
    height: 70vw;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.page-container {
    width: 99.225vw !important;
    position: relative;
    margin-left: -49.59vw;
    left: 50%;
    min-height: 100vh;
    padding: 0 0 0 0 !important;
}

.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: sticky;
    background-color: rgba(255,255,255,0.85);
}

.radio-toolbar {
    padding: 20px 0px 20px 0px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    text-align: center;
    display: inline-block;
    background-color: #f2f2f2;
    margin: 5px;
    font-family: sans-serif, Arial;
    font-size: 2.5em;
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    width: 35%;
}

.radio-toolbar label:hover {
    background-color: #ffffff;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #ffd480;
    border: 3px solid #ffd480;
}

@media only screen and (min-width: 1080px) {
    .radio-toolbar label {
        width: auto;
        padding: 3px 20px;
        font-size: 1em;
        margin: 0px;
    }

    .card-container {
        grid-template-columns: 230px 350px 230px;
    }

    .card-big-num {
        font-size: 2.75em;
    }

    .card-label {
        font-size: 1.3em;
    }

    .card {
        font-size: .9em;
    }
}

@media only screen and (min-width: 1440px) {
    .chartContent {
        height: 48vw;
        max-height: 90vh;
    }
}
